<section id="frontpage">
  <h1>Hi!</h1>
  <p ng-hide="isLoggedIn">
    Try <em>signing in</em> by clicking the "login" link on the top navigation
  </p>
  <p ng-show="isLoggedIn">
    Welcome back! Try logging out, so you log on again
  </p>
</section>
