<section id="userLogin">
  <form ng-submit="login()">
    <div class="error">
      <p ng-show="error">{{ error }}</p>
    </div>
    <label for="loginEmail">Email</label>
    <input type="email" id="loginEmail" ng-model="email" name="email" value="" placeholder="foo@bar.com" focus>
    <label for="loginPassword">Password</label>
    <input type="password" id="loginPassword" ng-model="password" name="password" value="" placeholder="password">
    <small>Example: email=root@localhost.com password=admin123</small>
    <input type="submit" name="loginSubmit" value="Login">
  </form>
</section>
