* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'helvetica';
  a {
    color: black;
    text-decoration: none;
  }

  div[ng-view] {
    margin: 0 auto;
    width: 70%;
  }

  li {
    list-style: none;
  }
}
header {
  nav {
    background-color: black;
    ul {
      display: block;
      li {
        font-weight: bold;
        float: left;
        margin: 2rem;
        a {
          color: white;
        }
      }
    }
  }
}

.clearfix {
  clear: both;
}

#userLogin {
  form {
    width: 420px;
    margin-top: 42px;
    label {
      margin-top: 16px;
      display: block;
    }
    input {
      display: block;
      font-size: 120%;
      box-sizing: border-box;
      padding-left: 2%;
      width: 100%;
    }
    input[type=submit] {
      width: 40%;
      float: right;
    }
    small {
      font-style: italic;
      display: block;
      padding: 2%;
    }
  }
}

#userProfile, #frontpage {
  h1 {
    margin-top: 42px;
  }
  p {
    margin: 12px 0 0 12px;
  }
}
