<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Login Example</title>
    <link href="/styles/all.css" rel="stylesheet" />
</head>
<body>
  <header>
    <nav ng-controller="NavigationController">
      <ul>
        <li>
          <a href="/#/">Frontpage</a>
        </li>
        <li ng-hide="isLoggedIn">
          <a href="/#/login">Login</a>
        </li>
        <li ng-show="isLoggedIn">
          <a href="/#/profile">Profile</a>
        </li>
        <li ng-show="isLoggedIn" ng-controller="LogoutController">
          <a href="#" ng-click="logout()">Logout</a>
        </li>
        <div class="clearfix"></div>
      </ul>
    </nav>
  </header>
  <div ng-view></div>
  <script src="/scripts/all.js"></script>
</body>
</html>
